h2{
    text-align: center;
}

.rectangle{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: auto;
}

.button{
    padding: 20px;
    width: 200px;
    margin: auto;
}